<div class="span12">
	<div class="row">
		<div class="span6">
			<h1>527 Organizations</h1>
			<p>A 527 organization or 527 group is a type of American tax-exempt organization named after "Section 527" of the U.S. Internal Revenue Code. A 527 group is created primarily to influence the selection, nomination, election, appointment or defeat of candidates to federal, state or local public office. <smaller>Source: <a href="http://en.wikipedia.org/wiki/527_organization">Wikipedia</a></smaller></p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span6">
			<h3>Biggest 527 Organizations</h3>
			<%= partial :chart, :locals => { :legend => @committees.map { |c| c.name.downcase.titlecase + " (#{c.party[0]})" },
											 :data => @committees_data,
											 :title => "Biggest Committees",
											 :chart_name => "committees",
											 :pie_colors => @committees.map { |c| candidate_party_color(c) } } %>
		</div>
	</div>

</div>
