<meta name="viewport" content="width=device-width">
<title><%= @title.nil? ? "Muckraker" : "Muckraker: #{@title}" %></title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow|Asap' rel='stylesheet' type='text/css'>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">

<!-- IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="/js/jquery.1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
<style type="text/css">
    body {
    	-webkit-text-size-adjust: 100%;
    }

    @media (min-width: 980px) {
	    body {
        	padding-top: 60px;
	        padding-bottom: 40px;
    	}
    }
</style>