<div class="row-fluid">
	<div class="span6">
		<h3>Committees with the Most Contributions in 2012</h3>
		<%= partial :chart, :locals => { :legend => @committees.map { |c| c.name.downcase.titlecase + " (#{c.party[0]})" },
										 :data => @committees_data,
										 :stacked => true,
										 :chart_name => "top_contributions" } %>
	</div>
	<div class="span6">
		<h3>Top Spenders in 2012</h3>
		<%= partial :chart, :locals => { :legend => @top_expenditures.map { |c| c.name.downcase.titlecase + " (#{c.party[0]})" },
										 :data => @top_expenditures_data,
										 :urls => @top_expenditures.map { |c| "/committee/#{c.id}"},
										 :stacked => true,
										 :chart_name => "top_expenditures" } %>
	</div>
</div>
