<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<h1>Welcome!</h1>
			<p>This site is a tool for exploring campaign finance data. Start with the campaigns below, and take a look through the sections above for more information.</p>
		</div>

</div>
<div class="row-fluid">
	<div class="span6">
		<h3>Most Supported Campaigns</h3>
		<%= partial :chart, :locals => { :legend => @most_supported_campaigns.map { |c| c.name.downcase.titlecase + " (#{c.party[0]})" },
										 :data => @most_supported_campaigns_data,
										 :chart_name => "most_supported_campaigns",
										 :stacked => true,
										 :pie_colors => @most_supported_campaigns.map { |c| candidate_party_color(c) } } %>
	</div>
	<div class="span6">
		<h3>Most Opposed Campaigns</h3>
		<%= partial :chart, :locals => { :legend => @most_opposed_campaigns.map { |c| c.name.downcase.titlecase + " (#{c.party[0]})" },
										 :data => @most_opposed_campaigns_data,
										 :chart_name => "most_opposed_campaigns",
										 :pie_colors => @most_opposed_campaigns.map { |c| candidate_party_color(c) } } %>
	</div>
</div>