<div class="hero-unit">
    <h1>Welcome!</h1>
    <p>This site is an attempt to make campaign finance data accessible for investigative journalists.</p>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Campaigns</h2>
        <p>See which campaigns are getting the most support, and which are taking heavy fire from opponents.</p>
        <p><a class="btn" href="/campaigns">See more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Committees</h2>
        <p>See which committees are raising the most money, and which are spending the most.</p>
        <p><a class="btn" href="/committees">See more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Independent Expenditures</h2>
        <p>See where the money is being spent. Committees often hire agencies to produce ads advocating for the election or defeat of a candidate. To be considered independent, the communication may not be made with the cooperation, consultation or concert with, or at the request or suggestion of, any candidate or his/her authorized committees or a political party, or any of their agents. There are no limits on these expenses.</p>
        <p><a class="btn" href="/payees">See more &raquo;</a></p>
    </div>
</div>
