<h2>Welcome to Muckraker</h2>
<p>Choose a chart from the list below to get started</p>

<%= partial :chart, :locals => { :legend => @most_supported_campaigns.map { |c| c.name },
								 :data => @most_supported_campaigns_data,
								 :title => "Most Supported Campaigns",
								 :chart_name => "most_supported_campaigns",
								 :colors => @most_supported_campaigns.map { |c| candidate_party_color(c) },
								 :columns => @columns } %>